*.tfstate
*.tfstate.*
*.backup
*.tfvars

.aws/
*.aws/

*.plan

.terraform.lock.hcl

.terraform/

terraform.tfvars

# Optional: If you use any IDE, you may want to add IDE-specific files like:
# .idea/
# .vscode/

*.log
